
@{
    Layout = null;
}
@using QX_Frame.Data.DTO;
@using Webdiyer.WebControls.Mvc;
@{
    PagedList<BookViewModel> bookList = Model as PagedList<BookViewModel>;
    var user = Session["uid"] == null ? 0 : 1;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>多条件搜索</title>
    <link href="~/New/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/css/style.css" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MvcPager.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
        body {
            background: url(/New/images/geometry2.png) repeat;
        }
    </style>
</head>
<body>
    @{ 
        var query = ViewData["Query"] == null ? "": ViewData["Query"].ToString();
        string []a = { };
        if (!string.IsNullOrEmpty(query))
        {
            a = query.Split(',');
        }
    }
    <div style="width: 70%; margin: 0 auto;padding-top: 30px;">
        @using (Ajax.BeginForm("MuchListTable", "Article", new RouteValueDictionary { { "id", "" } },
                                    new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "list", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
        {

            <div class="input-group" style="width:70%;display:inline-table">
                <a href="@Url.Action("MuchList","Article")" class="">返回搜索页</a><br />
                <label>搜索条件：</label>
                @if (a.Length >= 2 && !string.IsNullOrEmpty(a[1]))
                {
                    
                        var type = "";
                        switch (Convert.ToInt32(a[0]))
                        {
                            case 0:type = "全部";break;
                            case 1: type = "书名"; break;
                            case 2: type = "责任者"; break;
                            case 3: type = "出版社"; break;
                            case 4: type = "朝代"; break;
                            case 5: type = "其他名称"; break;
                            default:
                                type = "全部";
                                break;
                        }
                    
                    <div>1> 类别：<label style="color:red;">@type</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                            关键字：<label style="color:red;">@a[1]</label> </div>
                    <input type="hidden" name="categoryId1" value="@a[0]" />
                    <input type="hidden" name="title1" value="@a[1]" />
                }
                @if (a.Length >= 4 && !string.IsNullOrEmpty(a[3]))
                {
                    var type1 = "";
                    switch (Convert.ToInt32(a[2]))
                    {
                        case 0: type1 = "全部"; break;
                        case 1: type1 = "书名"; break;
                        case 2: type1 = "责任者"; break;
                        case 3: type1 = "出版社"; break;
                        case 4: type1 = "朝代"; break;
                        case 5: type1 = "其他名称"; break;
                        default:
                            type1 = "全部";
                            break;
                    }
                    <div>2> 类别：<label style="color:red;">@type1</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                            关键字：<label style="color:red;">@a[3]</label> </div>
                    <input type="hidden" name="categoryId2" value="@a[2]" />
                    <input type="hidden" name="title2" value="@a[3]" />
                }
            </div>
        }
        <div id="list">
            @{
                 Html.RenderPartial("_PartMuchTableList", bookList);
            }
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#searchForm").submit();
        })
    </script>
</body>
</html>
