@{
    Layout = null;
    ViewBag.Title = "古籍列表";
}
@using QX_Frame.Data.DTO;
@{
    List<BookViewModel> bookList = Model as List<BookViewModel>;
    int count = bookList.Count;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>@ViewBag.Title</title>
    <script>
        window.onload = function () {
            changeDivHeight();

        }
        //当浏览器窗口大小改变时，设置显示内容的高度
        window.onresize = function () {
            changeDivHeight();
        }
        function changeDivHeight() {
            var h = document.documentElement.clientHeight;//获取页面可见高度
            document.getElementById("grad").style.height = h + "px";
        }
        $(document).ready(function () {
            var length = $(".form").height();

            $(".search").attr("style", "line-height:" + length + "px")
        })
    </script>
    <style>
        html body {
            background: -webkit-linear-gradient(left top, white, firebrick); /*Safari 5.1 - 6.0 */
            background: -o-linear-gradient(bottom right, white, firebrick); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(bottom right, white, firebrick); /* Firefox 3.6 - 15 */
            background: linear-gradient(to bottom right, white, firebrick); /* 标准的语法（必须放在最后）*/
        }
        .float-lt {
            display: inline-block;
        }
    </style>

</head>
<body>
    <div style="width: 70%; margin: 0 auto;padding-top: 30px;">
        <form action="/Article/List" class="form-horizontal col-sm-9 float-lt form">
            <div class="input-group">
                <select class="form-control float-lt" style="width: 30%;">
                    <option>书名</option>
                    <option>作者</option>
                </select>
                <input type="text" class="form-control" style="width: 70%;">
                <a href="#" class="input-group-addon glyphicon glyphicon-search"></a>
            </div>

        </form>
        <div class="col-sm-3 search">
            <a href="#">多条件搜索</a>
        </div>
        <table class="table table-bordered table-striped" style="margin-top: 10px;display: inline-table;">
            <thead>
                <tr>
                    <td>
                        题名
                    </td>
                    <td>
                        其他题名
                    </td>
                    <td>
                        卷数
                    </td>
                    <td>
                        朝代
                    </td>
                    <td>
                        责任者
                    </td>
                    <td>
                        分类
                    </td>
                    <td>
                        版本
                    </td>
                    <td>
                        出版者
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in bookList)
                    {
                        <tr class="text-c">
                            <td><input type="checkbox" value="" name=""></td>
                            <td>@item.BookUid</td>
                            <td class="text-l">
                                <u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','/Article/Detail/@item.BookUid','10001')" title="查看">@item.Title</u>
                            </td>
                            <td>@item.Title2</td>
                            <td>@item.Volume</td>
                            <td>@item.Dynasty</td>
                            <td>@item.Functionary</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Version</td>
                            <td>@item.Publisher</td>
                            <td class="f-14 td-manage">
                                <a style="text-decoration:none" onClick="article_add('古籍详情','/Article/Detail/@item.BookUid')" href="javascript:;" title="阅读"><i class="Hui-iconfont">&#xe720;</i></a>
                                <a style="text-decoration:none" href="/Article/DownLoadImages/@item.BookUid?title=@item.Title" title="下载"><i class="Hui-iconfont">&#xe641;</i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="pagination pager">
            <ul>
                <li><a href="#">Prev</a></li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
   
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">
         $(document).ready(function () {
             $("#fileInput").bind("change", function ajaxFileUpload() {
                 $.ajaxFileUpload({
                     type: 'post',
                     url: '/Article/ImportArticle',
                     secureuri: false,
                     fileElementId: 'fileInput',
                     dataType: 'json',
                     success: function (data) {
                         if (data.isSuccess) {
                             layer.msg(data.msg, { icon: 1, time: 1000 });
                             location.replace(location.href);//refresh
                         }
                         console.log(data.msg);
                     },
                     error: function (data) {
                         console.log(JSON.stringify(data));
                     }
                 });
             });
         });


         $('.table-sort').dataTable({
             "aaSorting": [[1, "desc"]],//默认第几个排序
             "bStateSave": true,//状态保存
             "pading": false,
             "aoColumnDefs": [
                 //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                 { "orderable": false, "aTargets": [0, 5, 6, 7, 8, 9, 10] }// 不参与排序的列
             ]
         });

         /*古籍-阅读*/
         function article_show(title, url, w, h) {
             var index = layer.open({
                 type: 2,
                 title: title,
                 content: url
             });
             layer.full(index);
         }
         /*古籍-添加*/
         function article_add(title, url, w, h) {
             var index = layer.open({
                 type: 2,
                 title: title,
                 content: url
             });
             layer.full(index);
         }
         /*古籍-编辑*/
         function article_edit(title, url, id, w, h) {
             var index = layer.open({
                 type: 2,
                 title: title,
                 content: url
             });
             layer.full(index);
         }
         /*古籍-删除*/
         function article_del(obj, id) {
             layer.confirm('确认要删除吗？', function (index) {
                 $.ajax({
                     type: 'POST',
                     url: '/Article/DeleteDeal/' + id,
                     dataType: 'json',
                     success: function (data) {
                         if (data.isSuccess) {
                             $(obj).parents("tr").remove();
                             layer.msg('已删除!', { icon: 1, time: 1000 });
                             location.replace(location.href);//refresh
                         }
                         else {
                             layer.msg('删除失败!', { icon: 1, time: 1000 });
                         }
                     },
                     error: function (data) {
                         console.log(data.msg);
                     },
                 });
             });
         }

         /*古籍-审核*/
         function article_shenhe(obj, id) {
             layer.confirm('审核文章？', {
                 btn: ['通过', '不通过', '取消'],
                 shade: false,
                 closeBtn: 0
             },
                 function () {
                     $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                     $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                     $(obj).remove();
                     layer.msg('已发布', { icon: 6, time: 1000 });
                 },
                 function () {
                     $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                     $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                     $(obj).remove();
                     layer.msg('未通过', { icon: 5, time: 1000 });
                 });
         }
         /*古籍-下架*/
         function article_stop(obj, id) {
             layer.confirm('确认要下架吗？', function (index) {
                 $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
                 $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                 $(obj).remove();
                 layer.msg('已下架!', { icon: 5, time: 1000 });
             });
         }

         /*古籍-发布*/
         function article_start(obj, id) {
             layer.confirm('确认要发布吗？', function (index) {
                 $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                 $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                 $(obj).remove();
                 layer.msg('已发布!', { icon: 6, time: 1000 });
             });
         }
         /*古籍-申请上线*/
         function article_shenqing(obj, id) {
             $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
             $(obj).parents("tr").find(".td-manage").html("");
             layer.msg('已提交申请，耐心等待审核!', { icon: 1, time: 2000 });
         }

    </script>
    <!--_footer 作为公共模版分离出去-->

    @*<script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/H-ui/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/H-ui//h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
</body>
</html>